.drag-and-drop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: white;
}

.drag-and-drop li {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-and-drop li.hoverable:hover > svg{
  visibility: visible;
}
.drag-and-drop li p {
  width: 85%;
}
.drag-and-drop li svg {
  width: clamp(18px, 15%, 30px);
  visibility: hidden;
}

.drag-and-drop li:nth-child(odd) {
  background-color: aliceblue;
}

form.functionality-wrapper {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.functionality-wrapper input {
  padding: 3%;
  border-radius: 10px;
  width: 80%;
}

.functionality-wrapper input:focus {
  outline: 1px solid black;
}

.functionality-wrapper button {
  padding: 1vh 2vw;
  border-radius: 10px;
}

.no-pointer-events {
  pointer-events: none !important;
}
