* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for the button */
  border: none;
}
main {
  height: 100vh;
  padding: 200px;
  
  & > * {
    margin-bottom: 20px;
  }

  .expand-collapse {
    background-color: rgb(255, 255, 218);
    /* border: 1px solid black; */
    transition: height 0.2s ease-in-out;
    text-align: justify;

    .row {
      display: flex;
      align-items: center;

      .content {
        flex: 15;
      }

      button {
        flex: 1;
        border: none;
        padding: 0;
        svg,
        svg path {
          pointer-events: none;
          height: 100%;
        }
        cursor: pointer;
        width: 100%;
        background-color: transparent;
      }
    }

    .bonus-info {
      width: 100%;
      /* display: none; */
      max-height: 0; /* Start with 0 height */
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
  }
}

.rotated {
  transform: rotate(90deg);
}
