.cards-component {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2vw;
    color: white;
    font-size: 0.8rem;
    .card {
        &:hover .card-inner {
            transform: rotateY(180deg);
        }
        perspective: 1000px;

        .card-inner {
            height: 100%;
            width: 100%;
            padding: 3rem;
            background-color: black;
            border-radius: 30px;
            text-align: center;
            box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 1);
            position: relative;
            transition: transform 1s;
            transform-style: preserve-3d;

            .front,
            .back {
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                height: 100%;
            }
            .front {
                img.image {
                    max-width: 100%;
                    height: 70%;
                }
                div.name {
                    height: 30%;
                    font-size: 1.75em;
                    display: grid;
                    place-items: center;
                }
            }
            .back {
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(180deg);
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: inherit;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                div.price {
                    font-size: 1.25em;
                    span.regular-price {
                        text-decoration: line-through;
                        color: #ff0000;
                    }
                    span.sale-price {
                        color: #00ff00;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
