@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
.cards-component {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2vw;
    color: white;
    .card {
        &:hover .card-inner {
            transform: rotateY(180deg);
        }
        perspective: 1000px;
        .card-inner {
            height: 100%;
            width: 100%;
            padding: 1.5rem max(2vw, 2rem);
            background-color: black;
            border-radius: 30px;
            text-align: center;
            box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 1);
            position: relative;
            transition: transform 1s ease;
            transform-style: preserve-3d;
            .front,
            .back {
                border-radius: inherit;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                height: 100%;
            }
            .front {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                img.image {
                    height: 75%;
                    object-fit: contain;
                    border-radius: inherit;
                }
                div.name {
                    max-height: 30%;
                    line-height: 1.4;
                    font-size: 1.5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
            .back {
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(180deg);
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: inherit;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                div.price {
                    span.regular-price {
                        text-decoration: line-through;
                        color: silver;
                    }
                    span.sale-price {
                        color: gold;
                        font-size: 1.5em;
                        sup{
                            font-size: 0.5em;
                        }
                    }
                }
                a.visit-page {
                    text-decoration: none;
                    color: white;
                    grid-column: 1 / span 2;
                    display: grid;
                    place-items: center;
                    font-size: 1.5rem;
                    border-radius: 1rem;
                    position: relative;
                    background-color: black;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        inset: -0.25rem;
                        z-index: -1;
                        border-radius: inherit;
                        background: conic-gradient(
                            from var(--gradient-angle),
                            red,
                            blue,
                            green,
                            blue,
                            red
                        );
                        animation: rotation 5s linear infinite;
                    }
                    &::after {
                        filter: blur(1rem);
                    }
                }
            }
        }
    }
}

